<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 hero-text-box">
        <h1>You haven't read anything yet</h1>
        <p>
          They say, outside a dog, book is a man's best friend (inside of a dog
          its too dark to read). Come in chat with use, share yor favorite book
          and film and we ll introduce you to some of the greatest friend you
          will ever know
        </p>
        <div class="row justify-content-center">
          <button class="btn btn-success">Come visit us!</button>
        </div>
      </div>
    </div>
  </div>
</div>
