<div class="container">
  <div class="row search-section justify-content-center">
    <div class="search-bar col-md-4 col-sm-12">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          [(ngModel)]="searchText"
        />
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            (click)="onSearchClick()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
