@import "../../mixin.scss";

.card {
  flex-direction: row;

  @include for-large-device {
    margin-top: 30px;
  }

  .card-title {
    font-size: 12px !important;
  }
  .card-subTitle {
    font-size: 0.7rem !important;
  }
  .card-text {
    font-size: 10px !important;
    overflow: hidden;
  }
  .background-img {
    background-color: #d8d8d8;
    height: 178px;
    width: 120px;
    min-width: 120px;
  }

  .text-truncate.text-truncate--2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
